
[*]

# ReSharper properties
resharper_case_block_braces = end_of_line
resharper_invocable_declaration_braces = end_of_line
resharper_namespace_declaration_braces = end_of_line
resharper_requires_expression_braces = end_of_line
resharper_simple_block_style = line_break
resharper_type_declaration_braces = end_of_line
